<p id="notice"><%= notice %></p>

<h1>Professionals</h1>

<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @professionals.each do |professional| %>
    <tr>
      <td><%= professional.first_name %></td>
      <td><%= professional.last_name %></td>
      <% if can? :read, Professional %>
        <td><%= link_to 'Show', professional %></td>
      <% end %>
      <% if can? :update, Professional %>
        <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
      <% end %>
      <% if can? :destroy, Professional %>
        <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Professional %>
  <%= link_to 'New Professional', new_professional_path %>
<% end %>