<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @professional.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @professional.last_name %>
</p>

<% if can? :update, Professional %>
  <%= link_to 'Edit', edit_professional_path(@professional) %> |
<% end %>
<%= link_to 'Back', professionals_path %>
