<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @professional.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @professional.last_name %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
