<section class="section">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Appointment Export</h5>
          <%= form_for "Export Appointments", path:"export_day_appointments_path" do |form| %>
            <div class="col-12">
              <%= form.label :export_date, :date, class: "col-sm-2 col-form-label" %>
              <%= form.date_field :date, :required => true%>
            </div>
            <br/>
            <div class="col-12">
              <%= form.label :professional_id, class: "col-sm-2 col-form-label" %>
              <span class="fw-bold">(Optional field)</span>
              <%= collection_select(
                    :professional, :professional_id, Professional.all, :id, :to_s, { prompt: true }, class: "form-control"
                  ) %>
            </div>
            <br/>
            <div class="actions">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
