<section class="section">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Appointment</h5>

          <%= form_with(model: appointment) do |form| %>
            <% if appointment.errors.any? %>
              <div id="error_explanation">
                <h5><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being
                  saved:</h5>
                <% appointment.errors.each do |error| %>
                  <div class="alert alert-danger" role="alert">
                    <%= error.full_message %>
                  </div>
                <% end %>
              </div>
            <% end %>


            <div class="col-12">
              <%= form.label :observations, class: "col-sm-2 col-form-label" %>
              <%= form.text_field :observations, class: "form-control" %>
            </div>

<!--            <div class="col-12 mb-2">-->
              <%#= form.label :date, class: "col-sm-2 col-form-label" %>
              <%#= form.text_field :date, type: "date", class: "form-control" %>
<!--            </div>-->

<!--            <div class="col-12 mb-2">-->
              <%#= form.label "Hour", class: "col-sm-2 col-form-label" %>
              <%#= form.text_field :time, type: "time", class: "form-control" %>
<!--            </div>-->

            <div class="col-12">
              <%= form.label :date, class: "col-sm-2 col-form-label" %>
              <%= form.datetime_select :date, class: "form-control" %>
            </div>

            <div class="col-12">
              <%= form.label :patient_id, class: "col-sm-2 col-form-label" %>
              <%= collection_select(
                    :appointment, :patient_id, Patient.all, :id, :to_s, { prompt: true }, class: "form-control"
                  ) %>
            </div>

            <div class="col-12">
              <%= form.label :professional_id, class: "col-sm-2 col-form-label" %>
              <%= collection_select(
                    :appointment, :professional_id, Professional.all, :id, :to_s, { prompt: true }, class: "form-control"
                  ) %>
            </div>

            <br/>
            <div class="actions">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
