<!DOCTYPE html>
<html lang="en">
<head>
  <title>Polycon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>


</head>

<body>
<%= render "partials/header" %>
<%= render "partials/sidebar" %>
<main id="main" class="main">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-primary" %>
  <% end %>
  <%= yield %>
</main>
<%= render "partials/footer" %>
<%= render "partials/scripts" %>
</body>
</html>
